/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2019/01/18, 8:41:07
    Author     : shenhanfei
*/
html, body, div, ul, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, form, input, textarea, th, td, select {
    margin: 0;
    padding: 0;
}

/*大框架*/
.content {
    display: flex;
    flex-wrap: wrap;
    height: 550px;
    width: 1000px;
    margin: 20px auto;
    border: 1px solid #8F8F8F;
}

/*菜单栏*/

.content-menu {
	border: solid #CCCCCC;
	border-width: 1px 0;
	padding: 10px 0;
}

.content-menu ul {
	margin: 0;
	padding: 0;
}
.content-menu ul:after {
	content: "";
	clear: both;
	display: block;
}
.content-menu ul li {
	list-style: none;
	width: 245px;
	float: left;
	border-left: solid 1px #CCCCCC;
	padding: 0 10px;
	box-sizing: border-box;
	text-align: center;
	font-size: 14px;
	line-height: 1.429;
}

.content-menu ul li:first-child {
	border-left: none;
}

.content-menu ul li a {
	color: inherit;
	text-decoration: none;
	display: block;
	padding: 5px 0;
}

.content-menu ul li a:hover,
.content-menu ul li.current a {
	background-color: #F2F2E5;
}

/*角色一览*/
.chara-list {
    width: 300px;
    height: 490px;
    overflow: auto;
}

#chara-list1 {
    width: 40px;
    height: 30px;
    float: left;
    text-align:center;
    margin:2px 0px 0px 0px;
    color: #3b3b3b;
}

#chara-list2-cute {
    width: 250px;
    height:30px;
    float: left;
    text-align:center;
    margin:2px 0px 0px 0px;
    border: 1px solid gray; 
    border-radius:10px;
    color: #3b3b3b;
    background-color: #ffe6ea;
}

#chara-list2-cool {
    width: 250px;
    height:30px;
    float: left;
    text-align:center;
    margin:2px 0px 0px 0px;
    border: 1px solid gray; 
    border-radius:10px;
    color: #3b3b3b;
    background-color: #e3ffff;
}

#chara-list2-passion {
    width: 250px;
    height:30px;
    float: left;
    text-align:center;
    margin:2px 0px 0px 0px;
    border: 1px solid gray; 
    border-radius:10px;
    color: #3b3b3b;
    background-color: #fff6b5;
}
            
.chara-page{
    display: flex;
    width: 680px;
    height: 490px;
    margin: 10px;
}


.profile-left{
    display: flex;
    flex-direction: column;
    width: 410px;
    height: 460px;
    /*background-color: #ebebeb;*/
}

.profile-right{
    display:flex;
    width: 270px;
    height: 460px;
    /*background-color: #3f8053*/;
}

.profile-left-1{
    margin: 5px 0px 0px 5px;
    width: 405px;
    height: 195px;
    /*background-color: #e83861*/;
    background-repeat: no-repeat;
    background-position:bottom right;
}

.profile-left-2{
    margin: 0px 0px 5px 5px;
    width: 405px;
    height: 255px;
    /*background-color: #f0f0ea*/;   
}

.profile-right-1{
    margin:10px 10px 10px 10px;
    width: 250px;
    height: 440px;
    /*background-color: #f0fafa*/; 
    overflow: auto; 
}

#card {
    display: flex;
    margin: 2px;
    padding: 2px;
    width: 240px;
    height: 55px;
    border: 1px solid gray; 
    border-radius:5px;
    background-color: #ffffff;
}

#cardImage{
   margin: 2px;
   width:50px;
   height:50px; 
   background-color: #f0f0ea;
   background-repeat: no-repeat;
   background-size: 100% 100%;
}

#cardDetail{
   width: 180px;
   height: 48px;
}

#cardInfo1{
   width: 190px;
   height: 35px;
}


#cardInfo2{
   display :flex;
   width: 190px;
   height: 15px;
}

/*角色信息*/
#nameKanji {
    font-size: 30px;
    line-height: 40px;
}

#type-cute{
    display: none;
    width: 100px;
    height:30px;
    text-align:center;
    margin:2px 0px 0px 0px;
    border: 1px solid gray; 
    border-radius:20px;
    color: #ab0941;
    font-weight:bold;
    background-color: #ffe6ea;
}

#type-cool{
    display: none;
    width: 100px;
    height:30px;
    text-align:center;
    margin:2px 0px 0px 0px;
    border: 1px solid gray; 
    border-radius:10px;
    color: #110c96;
    font-weight:bold;
    background-color: #e3ffff;
}

#type-passion{
    display: none;
    width: 100px;
    height:30px;
    text-align:center;
    margin:2px 0px 0px 0px;
    border: 1px solid gray; 
    border-radius:10px;
    color: #ff5e00;
    font-weight:bold;
    background-color: #fff6b5;
}

#chara-image{
    background-repeat: no-repeat;
    background-size: auto 100%;
}


#cardName{
    font-size: 17px;
    line-height: 17px;
}

#cardRarity-N{
    width: 50px;
    height: 15px;
    font-size: 12px;
    color: #7d7d7d;
}

#cardRarity-R{
    width: 50px;
    height: 15px;
    font-size: 12px;
    color: #fc912d;
}

#cardRarity-SR{
    width: 50px;
    height: 15px;
    font-size: 12px;
    color: #ffcc24;
    font-weight:bold;
}

#cardRarity-SSR{
    width: 50px;
    height: 15px;
    font-size: 12px;
    color: #ff2672;
    font-weight:bold;
}

#cardAmount{
    width: 130px;
    height: 15px;
    font-size: 12px;
    color: #7d7d7d;
    text-align: right; 
}
            

