/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018/12/14, 11:31:36
    Author     : shenhanfei
*/
h2 {
    margin: 20px auto;
    font-size: 20px;
    line-height: 25px;
    text-align: left;
    text-shadow: 0px 1px 0px #f2f2f2;
}
.content {
    display: flex;
    height: 500px;
    width: 1000px;
    margin: 20px auto;
    border: 1px solid #8F8F8F;
    border-top: 3px solid #8F8F8F;
}

.chara-list {
    flex: 0 0 350px;
    background-color: #fafafa;
    overflow: auto;
}
            
.chara-page{
    flex: 1;
    margin: 10px;
    padding: 10px;
}
            
ul{
    height:25px;
    width: auto width;
    line-height:20px;
    font-size:12px;
    list-style:none;
    padding:0px;
    margin:0px;
}

ul li1{
    text-align:center;
    display:block;
    width:50px;
    float:left;
    color:#999;
}

ul li2{
    text-align:center;
    display:block;
    width:130px;
    float:left;
    color:#100;
}

ul li3{
    text-align:center;
    display:block;
    width:80px;
    float:left;
    color:#999;
}

.thead{
    background:#F1FADE;
    color:#F90;
    font-weight:bold;
    border-top:1px solid green;
}


